@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";
@import "ui.css";
/* optional for bits UI components */

/* colors defined in variables.css */
:root {
	/* font */
	--font-sans: "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--font-serif: "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--font-mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -1;
	--z-base: 1;
	--z-top: 10;
	--z-overlay: 100;
	--z-modal: 1000;

	/* presets (used in reset.css) */
	--font-body: var(--font-serif);
	--font-form: var(--font-sans);

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;

	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-fg-light: var(--color-gray-500);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-gray-500);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-fg-primary: var(--color-white);
	--color-button-bg-primary: var(--color-gray-900);
	--color-button-fg-secondary: var(--color-white);
	--color-button-bg-secondary: var(--color-gray-500);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	--bgcolor: #18141f;
	--textColor: #a399a8;
	--hltextcolor: #d162b7;

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-size: var(--48px, 48px);
}

h2 {
	font-size: var(--36px, 36px);
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}
body {
	background: var(--bgcolor);
	font-family: var(--font-sans);
}
svg {
	display: block;
	width: 100%;
	height: auto;
}

#scrolly {
	margin-top: -100vh;
}

.debug {
	position: fixed;
	left: 0;
	bottom: 0;
	background: #999;
	color: white;
	z-index: 99;
	padding: 10px;
}

.groupLabel {
	position: absolute;
	top: 0;
	left: 0;
	font-family: var(--font-sans);
	font-weight: bold;
	font-size: 17px;
	color: #333;
	transition: transform 0.5s ease;
	pointer-events: none;
}

.scrollyContainer {
	padding: 100vh 0;
	position: relative;
	z-index: 9999;
}

.visualContainer {
	position: sticky;
	top: 0;
	width: 100%;
	left: 0;
	height: 100vh;
	font-family: var(--font-sans);
}

.legendContainer {
	position: absolute;
	top: 20px;
	left: 20px;
	width: calc(100% - 40px);
	z-index: 50;
}

.step {
	position: relative;
	pointer-events: auto;
	height: 100%;
	padding: 40vh 0 70vh;
	/* border: 2px solid red; */
	min-height: 100vh;
}

.step:first-child {
	margin-top: 90vh;
}

.step:last-child {
	margin-bottom: 50vh;
}

.step .textContainer {
	pointer-events: auto !important;
	position: absolute;
	background: var(--bgcolor);
	width: 600px;
	max-width: 90%;
	padding: 5px 14px 5px 14px;
	top: 50%;
	font-size: 16.5px;
	line-height: 1.5em;
	transform: translate(-50%, -50%);
	color: white;
	margin-left: 50%;
}
.step .textContainer a {
	color: var(--hltextcolor) !important;
}
.step:first-child {
	margin-top: 90vh;
}

.step:last-child {
	margin-bottom: 50vh;
}
.step.hide {
	display: none;
}
.step.longcopy {
	width: 100%;
	pointer-events: auto !important;
	height: auto;
	background: linear-gradient(0deg, transparent 0%, var(--bgcolor) 4%, var(--bgcolor) 95%, transparent 100%);
	backdrop-filter: blur(0.5px);
	padding: 20vh 0 2em;
	box-sizing: border-box !important;
	position: relative;
	pointer-events: none;
	min-height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step.longcopy::after {
	pointer-events: auto !important;
	content: "";
	display: block;
	height: 20vh;
	flex-shrink: 0;
}
.step.longcopy .textContainer {
	pointer-events: auto !important;
	position: relative;
	top: auto;
	transform: none;
	margin: 0 auto;
	background: transparent;
	z-index: 3;
}
.step.longcopy:before {
	pointer-events: auto !important;
	content: "";
	position: absolute;
	height: 70%;
	width: 100%;
	display: block;
	top: 15%;
	left: 0px;
	backdrop-filter: blur(2px);
	z-index: 2;
}
.textContainer .smallText {
	font-size: 14px;
	opacity: 0.6;
	line-height: 17px;
	margin-top: 30px;
	font-style: italic;
}
.methods {
	display: block;
	width: 90%;
	max-width: 600px;
	margin: 100px auto;
	color: var(--textColor);
	border-top: 1px solid var(--textColor);
}